@using TravelBudget.ViewModels.Statistics;
@model StatisticsTravelSummary

<table id="table">
    <thead>
        <tr>
            <th class="title" colspan="100%">@Model.TableTitle</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Id</th>
            <th>StartingDate</th>
            <th>FinishDate</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.DescribedTravel.Id</td>
            <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.DescribedTravel.StartingDate)</td>
            <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.DescribedTravel.FinishDate)</td>
            <td>@Model.DescribedTravel.Description</td>
        </tr>
    </tbody>
    <tfoot class="table-foot">
        <tr>
            <td class="foot-row" colspan="4">
                @Model.FooterTitle: <span class="summary-tabel">@Model.SummaryTotal
                </span>
            </td>
        </tr>
    </tfoot>
</table>


