@model TravelBudget.Models.StatisticsViewModel

<head>
    <link rel="stylesheet" href="~/css/Statistics-View.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body class="body-statistics">
<div class="record-container">
    <div class="box" id="box1">
    <table id="table">
        <thead>
            <tr>
                <th class="title" colspan="100%">Your Most Expensive Travel</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>StartingDate</th>
                <th>FinishDate</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.TheMostExpensiveTravel.Id</td>
                <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.StartingDate)</td>
                <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.FinishDate)</td>
                <td>@Model.TheMostExpensiveTravel.Description</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="box" id="box2">
            <table id="table">
                <thead>
                    <tr>
                        <th class="title" colspan="100%">Your Cheapest Travel</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>StartingDate</th>
                        <th>FinishDate</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TheMostExpensiveTravel.Id</td>
                        <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.StartingDate)</td>
                        <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.FinishDate)</td>
                        <td>@Model.TheMostExpensiveTravel.Description</td>
                    </tr>
                </tbody>
            </table>
    </div>
        <div class="box" id="box3">
            <table id="table">
                <thead>
                    <tr>
                        <th class="title" colspan="100%">Your Longest Travel</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>StartingDate</th>
                        <th>FinishDate</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TheMostExpensiveTravel.Id</td>
                        <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.StartingDate)</td>
                        <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.FinishDate)</td>
                        <td>@Model.TheMostExpensiveTravel.Description</td>
                    </tr>
                </tbody>
            </table></th>
        </div>
        <div class="box" id="box4">
            <th class="title" colspan="100%">
                <table id="table">
                    <thead>
                        <tr>
                            <th class="title" colspan="100%">Your Shortest Travel</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>StartingDate</th>
                            <th>FinishDate</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.TheMostExpensiveTravel.Id</td>
                            <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.StartingDate)</td>
                            <td>@string.Format("{0:yyyy-MM-dd} | {0:HH:mm}", @Model.TheMostExpensiveTravel.FinishDate)</td>
                            <td>@Model.TheMostExpensiveTravel.Description</td>
                        </tr>
                    </tbody>
                </table>
            </th>
        </div>
</div>
</body>
