@model TravelBudget.Models.TravelViewModel

@{
    Layout = "~/Views/Travel/_Layout-TravelsHistory.cshtml";
}

<br>
    <table>
        <thead>
            <tr>
    <th>Id</th>
    <th>StartingDate</th>
    <th>FinishDate</th>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
            </tr>
        </thead>
    <tbody>
    @foreach (var item in Model.Travels)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.StartingDate</td>
            <td>@item.FinishDate</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Active</td>
        </tr>
    }
    </tbody>
    </table>
    </div>

 

