@model TravelBudget.Models.TravelViewModel

@{
    // Layout = "~/TravelBudget/Views/Shared/_Layout.cshtml ";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Index-View.css" asp-append-version="true" />
</head>
<body>
    <br>
    @foreach (var item in Model.travels)
    {
        <!-- Wyświetl osobną tabelę dla każdego rekordu -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>StartingDate</th>
                        <th>FinishDate</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.StartingDate</td>
                        <td>@item.FinishDate</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                    </tr>
                </tbody>
            </table>

            <!-- Dodaj przycisk "Add Expense" poza tabelą -->
            <div class="button-containerAdd">
                <a href="#" data-record-id="@item.Id"><span class="AddButton">Add Expense</span> <i></i></a>
            </div>
        </div>
    }
</body>
</html>
