@model TravelBudget.Models.ManagementViewModel

<head>
    <link rel="stylesheet" href="~/css/Management-View.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<body id="Body-Management">
    <div class="container-management">
        <form method="post" asp-controller="Management" asp-action="ManageZone" novalidate>
            @Html.AntiForgeryToken()
            <div>
                <h1 id="ManagementTitle"> Category Zone</h1>
                <div class="category-table">
                    <table class="table" style="border-radius: 8px">
                        <thead>
                            <tr>
                                <th class="table-title" colspan="100%">Category Types</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var item in Model.CategoryOptions)
                                {
                                    <td>@item.Type</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-outline" id="M_label_1-add-category">
                    <label asp-for="@Model.Category.Type" class="form-label" style="font-size:24px; text-align: center; margin:0; padding-right: 10px"></label>
                    <input asp-for="@Model.Category.Type" class=form-control-category autocomplete="off" placeholder="Insert type of new category" />
                    <span class="management-button-section">
                        <button id="save-button" type="submit">Save</button>
                    </span>
                </div>
            </div>
        </form>
        <form method="get" asp-controller="Management" asp-action="DeleteCategory" novalidate>
            @Html.AntiForgeryToken()
            <div>
                <div class="form-outline" id="M_label_1-delete-category">
                    <p class=delete-title>Delete category:</p>
                    <label asp-for="@Model.Category.Id" class="form-label" style="font-size:25px" hidden></label>
                    @Html.DropDownListFor(c => c.Category.Id, new SelectList
                             (Model.CategoryOptions, "Id", "Type"), "-Select Category-", new { @class = "category-drop-down" })
                    <span class="management-button-section">
                        <button id="delete-button" type="submit">Delete</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</body>